body {
  background-color: rgb(141, 131, 131);
  color: rgb(213, 226, 215);
}

.grid_body {
  display: grid;
  grid-template-columns: fit-content(250px) 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

/*
auto позволяет колонке решать насколько она может быть большой в зависимости от контента
fit-content() позволяет ограничеть размер заполнения колонки 
*/


.grid_item {
  text-align: center;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  padding: 30px;

}