body {
  background-color: rgb(141, 131, 131);
  color: rgb(213, 226, 215);
}

.grid_body {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(2, 80px);

}

/**
repeat(число колонок,размер)
в целом омжет быть полезно
*/


.grid_item {
  text-align: center;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  padding: 30px;

}